.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: rgba(33, 33, 33, 1);
}

.profile__description {
  margin: 0;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  min-width: 420px;
  color: rgba(33, 33, 33, 0.7);
}

.profile__pencil {
  padding-right: 8px;
}
.profile__edit-button__text {
  margin: 0;
}

.profile__edit-button {
  margin-top: auto;
  background-color: transparent;
  border: 0;
  align-self: flex-start;
  color: rgba(33, 33, 33);
  opacity: 40%;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  display: flex;
  padding: 0;
}

.profile__edit-button:hover {
  cursor: pointer;
  color: rgba(33, 33, 33);
  opacity: 100%;
}

.profile__add-button {
  margin-left: auto;
  padding: 0;
  height: 52px;
  min-width: 149px;
  background: rgb(33, 33, 33);
  margin-top: auto;
  border-radius: 8px;
  color: rgba(252, 245, 229, 1);
  box-shadow: none;
  border: 0;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  opacity: 100%;
  display: flex;
}

.profile__add-button:hover {
  cursor: pointer;
  background-color: rgb(33, 33, 33);
  opacity: 80%;
}
.profile__plus {
  padding-right: 4px;
  margin: auto;
  height: 12px;
  width: 12px;
  margin: auto 0 auto auto;
}
.profile__add-button__text {
  margin: auto auto auto 0;
  padding-left: 4px;
  font-size: 16px;
  line-height: 1;
}
@media screen and (max-width: 1000px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 auto 6px;
    max-width: 288px;
  }
  .profile__description {
    margin: 0 0 32px;
    min-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
    min-width: 288px;
  }

  .profile__edit-button {
    margin: 0 auto;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
  }
}
